/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
  /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
  /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
  --color-de-texto: #464646;
  --color-de-fondo-alt: #eaf2fd;
  --color-linea: #2a7ae4;
  --ancho-total: 80%;

  /* Vars del testeo Input */
  --main-blue: #90caf9;
  --main-white: #fff;
  --main-grey: rgba(255, 255, 255, 0.23);
  --main-dark-grey: #121212;
  --main-ease: cubic-bezier(0.65, 0.05, 0.36, 1);
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--color-de-texto);
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*En este desafío nosostros gustaríamos que ustedes intentaran utilizar la metodología BEM. 

Lo que es el BEM?

BEM (Bloque, Elemento, Modificador) es un enfoque basado en componentes para el 
desarrollo web. La idea detrás de esto es dividir la interfaz de usuario en bloques
independientes. Esto hace que el desarrollo de la interfaz sea fácil y rápido, incluso
con una interfaz de usuario compleja, y permite la reutilización del código existente sin copiar y pegar.

Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

section.menu {
  display: flex;
  justify-content: space-between;
  width: var(--ancho-total);
  margin: auto;
  padding: 10px 0;
}

header.menu__header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
}

section.menu nav {
  display: flex;
  align-items: center;
}

ul.menu__list {
  display: flex;
  gap: 20px;
}

li.menu__list__item > a {
  color: var(--color-de-texto);
}

li.menu__list__item:last-child {
  font-weight: bold;
}

/*Sección Title*/

section.title {
  width: var(--ancho-total);
  margin: auto;
  padding: 20px 0 40px 0;
}

div.title__div {
  gap: 1rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

div.title__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 18px;
}

img.title__profile {
  width: 30%;
  align-self: center;
}

h2.title__bio {
  font-size: 3rem;
  margin: 0;
}

p.title__subsection {
  margin: 0;
  font-size: 18px;
}

ul.title__network {
  display: flex;
  gap: 1.8rem;
  padding-left: 0;
  margin: 0;
  font-size: 1rem;
  flex-wrap: wrap;
}

li.title__network__item > a {
  color: var(--color-de-texto);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Sección About*/

section.about {
  background-color: var(--color-de-fondo-alt);
}

div.about__container {
  display: flex;
  flex-direction: column;
  width: var(--ancho-total);
  margin: auto;
  padding: 30px 0;
  gap: 20px;
}

div.about__container > * {
  margin: 0;
  width: 70%;
  flex-grow: 0;
}

h3.about__title {
  font-size: 1.5rem;
}

#firma {
  align-self: baseline;
  width: auto;
}

/*Seccion Skills*/

section.skills {
  width: var(--ancho-total);
  background-color: #f5f5f5;
  margin: auto;
  padding: 1rem 0 1rem 0;
}

h3.skills__title {
  text-align: center;
}

div.skills__line {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}

div.skills__line > div.skills__box {
  height: 150px;
  width: 50px;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

div.skills__box > ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 10px;
  font-weight: bold;
}

/*Sección Hobbies*/

section.hobbies {
  width: var(--ancho-total);
  background-color: #f5f5f5;
  margin: auto;
  padding: 1rem 0 1rem 0;
}

h3.hobbies__title {
  text-align: center;
}

div.hobbies__line {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}

div.hobbies__line > div.hobbies__box {
  height: 150px;
  width: 50px;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

div.hobbies__box > ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 15px 10px;
  font-weight: bold;
}

/* Experiencia Académica*/

section.academic {
  background-color: var(--color-de-fondo-alt);
  padding: 1rem 0;
}

div.academic__container {
  width: var(--ancho-total);
  margin: auto;
}

h2.academic__title {
  text-align: center;
}

div.academic__courses {
  display: flex;
  gap: 12px;
}

div.academic__courses__box {
  flex-grow: 1;
}

ul.academic__courses__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

ul.academic__courses__list > li > * {
  margin: 0;
}

li.academic__courses__item__img {
  width: auto;
  height: 250px;
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

li.academic__courses__item__title {
  font-size: 1.2rem;
  font-weight: bold;
}

/* experiencia*/

section.experience {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h2.experience__section__title {
  text-align: center;
}

div.experience__box {
  display: flex;
  flex-flow: row nowrap;
  width: var(--ancho-total);
  margin: auto;
  gap: 12px;
}

div.experience__box--reversed {
  display: flex;
  flex-flow: row-reverse nowrap;
  width: var(--ancho-total);
  margin: auto;
  gap: 12px;
}

div.experience__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

div.experience__info > * {
  margin: 0;
}

div.experience__description {
  display: flex;
  gap: 4px;
  box-sizing: border-box;
}

/* Tengo que checkear el html */
div.experience__description > div {
  padding: 15px 10px;
}

div.experience__repo {
  background-color: none;
  border: 2px solid #2a7ae4;
}

div.experience__repo > a {
  color: #2a7ae4;
}

div.experience__demo {
  background-color: #2a7ae4;
  border: 2px solid #2a7ae4;
}

div.experience__demo > a {
  color: #ffffff;
}

/*Contacto*/

section.formcontacto {
  background-color: var(--color-de-fondo-alt);
  padding: 1rem 0;
}

div.formcontacto__text {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

div.formcontacto__text > p {
  margin: 0;
}

h2.formcontacto__title {
  margin: 0.5rem 0;
}

div.formcontacto__contacto {
  display: flex;
  width: var(--ancho-total);
  margin: auto;
  gap: 1rem;
}

form.formcontacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}

textarea#mensaje {
  font-family: "Raleway", sans-serif;
  color: var(--color-de-texto);
  padding-bottom: 6rem;
  resize: none;
}

/* Pequenos cambios a los elementos de el textarea mensaje ya que quedaba un poco distinto de los inputs */

div.formcontacto__textarea > label {
  top: 20%;
  border-radius: 4px;
}

span#mensaje-underline {
  bottom: 2px;
}

button.formcontacto__boton {
  padding: 15px 10px;
  color: #ffffff;
  background-color: #2a7ae4;
  border: 2px solid #2a7ae4;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

/*footer*/

section.footer {
  padding: 30px 0;
}

div.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--ancho-total);
  margin: auto;
  gap: 8px;
}

div.footer-container > p {
  margin: 0;
}

/* Inputs tipo material UI: Hecho por LeonGeldsch, solo los modifique un poco. Fuente: https://github.com/LeonGeldsch/css_material_input */

.standard-input {
  position: relative;
}

.standard-input input,
.standard-input textarea {
  background-color: #ffffff;
  color: #464646;
  height: 3rem;
  border: none;
  border-bottom: 2px solid #cacaca;
  border-radius: 4px;
  padding-left: 1rem;
  padding-top: 20px;
  font-size: 18px;
  transition: 0.1s var(--main-ease);
  outline: none;
  box-sizing: border-box;
  width: 100%;
}

.standard-input label {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  background-color: #ffffff;
  color: #767676;
  text-align: center;
  transition: 0.2s var(--main-ease);
  font-size: 1rem;
  pointer-events: none;
  padding: 0 5px;
}

.standard-input input:not(:placeholder-shown) ~ label,
.standard-input input:focus ~ label,
.standard-input textarea:not(:placeholder-shown) ~ label,
.standard-input textarea:focus ~ label {
  top: 12px;
  left: 0px;
  font-size: 0.9rem;
  padding-left: 1rem;
  color: var(--color-linea);
}

.standard-input .underline {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s var(--main-ease);
  border-bottom: 2px solid #2a7ae4;
}

.standard-input input:focus ~ .underline,
.standard-input textarea:focus ~ .underline {
  transform: scaleX(1);
}
.standard-input input:hover,
.standard-input textarea:hover {
  border-bottom: 2px solid #90caf9;
}
.standard-input input:focus ~ label .standard-input textarea:focus ~ label {
  color: var(--color-linea) !important;
}

/* Otra yerba mas para evitar que el autofill arruine los inputs. fuente: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete */

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
  background-color: transparent !important;
}

/* Vamos a desafiarnos trabajando con responsividad?
Utiliza las referencias de los breakpoints @media abajo */

/*Tablet*/
@media (max-width: 768px) {
  :root {
    --ancho-total: 90%;
    /* padding: 0px 2rem; */
  }

  /* Menú */
  section.menu {
  }

  li.menu__list__item:nth-last-child(n + 2) {
    display: none;
  }

  /*Title*/

  div.title__div {
    gap: 2rem;
  }

  img.title__profile {
    width: 20%;
  }

  div.title__container {
    gap: 8px;
  }

  h2.title__bio {
    font-size: 1.5rem;
  }

  p.title__subsection {
    font-size: 1rem;
  }

  /* About */

  div.about__container > * {
    margin: 0;
    width: auto;
    flex-grow: 0;
  }

  /*Skills*/

  div.skills__line{
    flex-wrap: wrap;
  }

  div.skills__line > div.skills__box{
    flex-basis: 30%;
  }

  div.skills__box > ul{
    padding: 20px 20px;
  }

  /*Hobbies*/

  div.hobbies__line{
    flex-wrap: wrap;
  }

  div.hobbies__line > div.hobbies__box{
    flex-basis: 30%;
  }

  div.hobbies__box > ul{
    padding: 20px 20px;
  }

  /*Formación Académica*/

  div.academic__courses{
    padding: 1rem 0;
  }

  li.academic__courses__item__img{
    height: 125px;
  }

  li.academic__courses__item__img > img{
    width: 50%;
  }

  /*Experiencia Profesional*/

  div.experience__box{
    flex-direction: column;
  }

  div.experience__box--reversed{
    flex-direction: column;
  }

  /* Contacto */

  div.formcontacto--left{
    display: none;
  }

  div.formcontacto__text{
    flex-grow: 1;
  }

  /* Esto cambia el textinput tipo MaterialUI que aparecia con barra que quedaba mal */
  textarea#mensaje{
    padding-bottom: 0;
    height: 6rem;
  }

  .standard-input textarea{
    padding-top: 22px;
  }

  button.formcontacto__boton{
    align-self: baseline;
  }
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sección sobre mi*/

  /*Skills*/

  /*Hobbies*/

  /*Formación Académica*/

  /*Experiencia Profesional*/

  /*Contacto*/

  /*Footer*/
}
